.Cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #efe3c8;
  background: #201520;
  overflow: hidden;
  /* border: blue 1px solid; */
}

.Item-Text,
.Item-Title,
.Item-Number,
.Coupon-Text,
.Delivery,
.Taxes,
.Cart-Title {
  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
}

.Cart-Title {
  /* width: 49px; */
  /* height: 30px; */
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 24px;
  /* line-height: 125%; */

  text-align: center;

  color: #ffffff;
}

/* Cart Cards */

.Cart-Items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  /* border: firebrick 1px solid; */
}

.Item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5%;
  margin-left: 0.5%;
  width: 343px;
  height: 90px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12.6087px;
}

.Item-Desc {
  /* width: 210px; */
  height: 80%;

  display: flex;
}

.Item-Detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 88px; */

  top: 12px;
  margin-left: 12px;
}

.item-img {
  /* width: 72px; */
  height: 72px;

  border-radius: 15px;
}

.Item-Title {
  /* width: 78px; */
  height: 22px;

  font-size: 14px;
  /* line-height: 160%; */

  color: #ffffff;
}

.Item-Text {
  /* width: 88px; */
  height: 17px;

  font-size: 12px;
  /* line-height: 145%; */

  color: #ffffff;
}

.Item-Price {
  /* width: 37px; */
  height: 16px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 115%; */

  color: #ffffff;
}

.Item-Amount {
  width: 87px;
  height: 30px;

  display: flex;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

.Item-Plus,
.Item-Minus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px;

  width: 30px;
  height: 30px;

  background: #efe3c8;
  border-radius: 8px;
  cursor: pointer;
}

.Item-Minus:hover,
.Item-Plus:hover {
  background-color: pu;
}

.Item-Number {
  /* width: 12px; */
  height: 28px;
  font-size: 20px;

  color: #ffffff;
}

.Coupon {
  /* width: 343px; */
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.Order-Summary {
  /* width: 344px; */
  height: 100px;
  margin-top: 5px;
}

.Delivery {
  /* width: 113px; */
  height: 18px;

  font-size: 14px;
  /* line-height: 125%; */

  color: #ffffff;
}

.Taxes {
  /* width: 37px; */

  height: 18px;

  font-size: 14px;
  /* line-height: 125%; */

  color: #ffffff;
}

.Delivery-Price {
  /* width: 25px; */
  height: 16px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 115%; */

  color: #ffffff;
}

.Taxes-Price {
  /* width: 44px; */

  height: 16px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 115%; */

  color: #ffffff;
}

.Extra-Charges {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.Charge-Titles,
.Charge-Prices {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;
}

.Charge-Prices {
  direction: rtl;
}

.Order-Total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
}

.Grand-Total {
  /* width: 113px; */
  height: 25px;
  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* line-height: 125%; */

  color: #ffffff;
}

.Total-Price {
  /* position: absolute; */
  /* width: 60px; */
  height: 23px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  /* line-height: 115%; */
  direction: rtl;

  color: #ffffff;
}

.Pay-Btn {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  padding: 15px 50px;
  margin-top: 10px;

  width: 343px;
  height: 45px;

  cursor: auto;
  background: #efe3c8;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.Pay-Btn:hover {
  background-color: tomato;
}

.Pay-Text {
  position: static;
  /* width: 75px; */
  height: 22px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #4a2b29;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  cursor: pointer;
}
