/* Home Screen */

.Home {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  color: #efe3c8;
  /* border: springgreen 1px solid; */
  overflow: auto;
  /* border-radius: 33.6232px; */
}

/* Brand Logo */

.Logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 80%;
  height: 10%;
  left: 1%;
  top: 2%;
  color: #efe3c8;
  box-sizing: border-box;

  /* border: 1px solid #e40f0f; */
}

/* Brand first name */

.Cafe {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  top: 2%;
  /* border: springgreen 1px solid; */
  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  color: rgba(239, 227, 200, 0.76);
}

/* Brand Second Name */

.Hangout {
  display: flex;
  /* align-items: flex-end; */
  width: fit-content;
  height: fit-content;
  margin-left: 28px;
  margin-top: -15px;
  /* border: hotpink 1px solid; */
  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  /* line-height: 50%; */

  color: tomato;

  /* border: 1px solid #000000; */
}

/* Profile Picture */

.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 3%;
  top: 2%;
  border: 1px dashed #dcaa70;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
}

/* Search Bar */

.SearchBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px 10px 10px;
  position: fixed;
  width: 80%;
  height: 3%;
  left: 10%;
  top: 14%;
  background: #171017;
  border-radius: 10px;
  border: 1px solid #000000;
}

.SearchBar input {
  padding: 1px;
  width: 90%;
  background-color: transparent;
  color: #efe3c8;
  border-color: transparent;
}
.SearchBar input:focus {
  outline: none;
  box-shadow: 0 0 5px #719ece;
}

/* Coffee Categories */

.CoffeeCategories {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* align-items: center; */
  padding: 35px 8px;

  position: fixed;
  width: 45px;
  height: 76%;
  left: 0px;
  top: 22%;

  background: rgba(112, 67, 65, 0.3);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 40px 0px 33.6232px;
}

.Category {
  width: fit-content;
  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  color: #efe3c8;

  /* border: 1px solid #000000; */
  transform: rotate(-90deg);

  margin: 40px -22px;
}

.Category:hover {
  background-color: tomato;
}

/* Coffee Cards */

.CoffeeCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: flex-start;
  position: fixed;

  width: 88%;
  height: 69%;
  left: 12%;
  top: 22%;
  box-sizing: border-box;
  /* border: 1px solid #09139ca8; */
}

.Card {
  /* border: solid 1px blue; */
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0.5%;
}

/* Each Card Link Route */

.Card .Link {
  /* border: solid 1px blue; */

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  /* box-sizing: border-box; */
  overflow: hidden;
  /* border: solid 1px red; */
  margin-top: 1%;
  width: 100%;
  height: 160px;
  border-radius: 12.6087px;
}

/* .Card .Link img {
  cursor: pointer;
  position: fixed;
  width: 30%;
  height: 25%; */
/* left: 75px;
  top: 213px; */
/* border: blue 1px solid;
  border-radius: 15px; */
/* } */

.Card .Link .Text {
  display: flex;
  align-self: start;
  align-items: flex-end;
  cursor: pointer;
  /* position: fixed; */
  width: max-content;
  height: 10%;
  margin-left: 3%;
  /* border: coral 1px solid; */
  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #ffffff;
}

.Card .PriceAndCart {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.Card .PriceAndCart button {
  cursor: pointer;
  height: 1.5rem;
  border-radius: 50%;
}
.Card .PriceAndCart .Price {
  /* border: solid 1px goldenrod; */
  width: max-content;
}

.Card .PriceAndCart button:hover {
  background-color: tomato;
}
