/* Home Screen */

.Home {
  width: 375px;
  height: 100vh;
  left: 0px;
  top: 0px;
  display: flex;

  flex-direction: column;
  color: #efe3c8;
  background: #201520;
  border-radius: 33.6232px;
}

/* Brand Logo */

.Logo {
  position: absolute;
  width: 120px;
  height: 97px;
  left: 16px;
  top: 22px;
  color: #efe3c8;

  /* border: 1px solid #000000; */
}

/* Brand first name */

.brand {
  position: absolute;
  width: 90px;
  height: 51px;
  left: 10px;
  top: 5px;

  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  color: rgba(239, 227, 200, 0.76);
}

/* Brand Second Name */

.logo {
  position: absolute;
  width: 115px;
  height: 67px;
  left: 20px;
  top: 30px;

  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 50px;

  color: #eb370ae0;

  /* border: 1px solid #000000; */
}

/* Profile Picture */

.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 309px;
  top: 35px;
  border: 1px dashed #dcaa70;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
}

/* Search Bar */

.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 19px 10px 20px;

  position: absolute;
  width: 303px;
  height: 30px;
  left: 16px;
  top: 118px;

  background: #171017;
  border-radius: 10px;
  border: 1px solid #000000;
}

/* Coffee Categories */

.CoffeeCategories {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 35px 8px;

  position: absolute;
  width: 43px;
  height: 535px;
  left: 0px;
  top: 173px;

  background: rgba(112, 67, 65, 0.3);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 40px 0px 33.6232px;
}

.Category {
  width: fit-content;
  font-family: Rosarivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  color: #efe3c8;

  border: 1px solid #000000;
  transform: rotate(-90deg);

  margin: 40px -22px;
}

.Category:hover {
  background-color: #d8d2d2a8;
}

/* Coffee Cards */

.CoffeeCards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 327px;
  height: 480px;
  left: 45px;
  top: 173px;
  /* border: 1px solid #09139ca8; */
  border-radius: 5%;
}

/* Bottom Nav Bar */

.ButtomNav {
  /* border: 1px solid #d8d2d2a8; */
  background-color: #22151f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 375px;
  height: 78px;
  left: 0px;
  top: 630px;
  border-bottom-left-radius: 33.6232px;
  border-bottom-right-radius: 33.6232px;
}

.ButtomNav img:hover {
  background-color: #d8d2d2a8;
  cursor: pointer;
}
