/* Bottom Nav Bar */

.BottomNav {
  /* border: 1px solid #d8d2d2a8; */
  background-color: #22151f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* position: fixed; */

  width: 100vw;
}

.BottomNav .NavBtn {
  background-color: transparent;
  border-style: none;
  display: flex;
}

.BottomNav .NavBtn .ProfilePic {
  height: 33px;
}

.BottomNav .NavBtn:hover {
  background-color: tomato;
  cursor: pointer;
}

.BottomNav .Cart-Amount {
  display: flex;
  align-self: flex-start;
  background-color: rgb(252, 73, 41);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: -11%;
  margin-top: -13%;
}
