/* Bottom Nav Bar */

.BottomNav {
  /* border: 1px solid #d8d2d2a8; */
  background-color: #22151f;
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  width: 375px;
  height: 78px;
  left: 0px;
  top: 630px;
  border-bottom-left-radius: 33.6232px;
  border-bottom-right-radius: 33.6232px;
}

.BottomNav .NavBtn {
  background-color: transparent;
  border-style: none;
}

.BottomNav .NavBtn .ProfilePic {
  height: 33px;
}

.BottomNav .NavBtn:hover {
  background-color: tomato;
  cursor: pointer;
}
