/* Bottom Nav Bar */

.BottomNav {
  /* border: 1px solid #d8d2d2a8; */
  background-color: #22151f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* position: fixed; */

  width: 100vw;
}

.BottomNav .NavBtn {
  background-color: transparent;
  border-style: none;
}

.BottomNav .NavBtn .ProfilePic {
  height: 33px;
}

.BottomNav .NavBtn:hover {
  background-color: tomato;
  cursor: pointer;
}

.BottomNav .Cart-Amount {
  position: absolute;
  background-color: rgb(252, 73, 41);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  left: 770px;
}

.BottomNav .Cart-Num {
  color: white;
  position: relative;
}
