body {
  margin: 0;
  padding: 0;
  border: 1px solid blue;
  height: 812px;
  width: 375px;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Rosarivo", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Open Sans", sans-serif;
  font-family: "Rosarivo", serif;
}
